body {
  margin: 0 auto;
  padding: 0 auto;
}

.movie {
    padding: 8px;
}

.poster {
    max-height: 50px;
    max-width: 50px;
}

.title {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
